.logo__container {
  justify-content: center;
  align-items: center;
  max-height: 100px;
} 

#logo {
  width: auto;
  position: fixed;
  top: 5%;
  left: 6%; 
}

#logo:hover{
  content: url(../imgs/logo-light.png);
}


  /* || desktop || */
  @media only screen and (min-width: 1143px) {
    
    #logo {
      height: 13%;
      min-height: 100px;
    }
  }

    /* || mobile || */
    @media only screen and (min-width: 361px) and (max-width: 1140px) {

      #logo {
        height: 10%;
        min-height: 80px;
      }
    }