.header__container, .main__container, .footer__container  {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header__container {
  position: fixed;
  top: 0;

  height: 240px;
  width: 100%;
  background-color: white;
}

article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{
  display:block;
}

main {
  height: auto;
  width: 80%;
  margin: 200px auto 300px;
}

.row-margin {
  margin: 0px 15px 20px;
  width:100%;
}

.half, .third, .twothird, .sarnie-quarter, .quarter, .threequarter {
/* text padding inside boxes */
/* padding:0 8px; */

float:left;
width:100%;
}

/* ||||||||||||||||||||||||||||||||||||| SECTION 1 ||||||||||||||||||||||||||||||||||||| */

h1 {
  color: rgb(87, 87, 87);  
  font-size: 80px;
  font-weight: 900;
  text-align: right;
  
  /* 
  margin:10px 0; 
  margin: 0px 150px 0px 0px;

  position: absolute;
  right: 350px;
  top: 95px; 

  height: fit-content;
  block-size: fit-content; */
}

/* .section-one {
  padding: 0 0 25px;
  margin: 0px 0px 5px 0px;
} */

#quote {
  width:100%; 
  margin: 0; 
  padding: 15px;
  /* padding: 0 25px 10px 0;
  margin: 5px 5px 5px 5px; */
  background-color:#ffffff!important;

  font-family:Arial, Helvetica, sans-serif;
  color: rgb(87, 87, 87); 
  font-size: 24px;
  /*   font-weight:400; */

  text-align: center;
  /* text-align: justify; */
}

.mission-statement {
  color: dimgray;
  background-color: rgb(201, 201, 201);
  border-radius: 6px;
  padding: 20px;
  margin: 0;
  /* width: auto;
  height: auto; */
  /* padding: 30px 30px 0px 30px;
  margin: 350px 0px 0px 40px; */

  font-size: 15px;
  line-height: 1.5; 
  /* text-align: center; */
  text-align: justify;
  
  /* width: fit-content; */
  /* block-size: fit-content;  */
}

/* ||||||||||||||||||||||||||||||||||||| SECTION 2 - Video ||||||||||||||||||||||||||||||||||||| */

iframe {
  width: 100%;
  height: 400px;
}

/* ||||||||||||||||||||||||||||||||||||| SECTION 3 - Column text ||||||||||||||||||||||||||||||||||||| */

.section-4 { 
  color:rgb(79, 79, 79)!important;
  background-color:#ffffff!important;
}

.columnn-1, .column-2 {
  text-align: justify;
  padding: 0 20px;
}

/* ||||||||||||||||||||||||||||||||||||| SECTION 4 - Banner ||||||||||||||||||||||||||||||||||||| */

#ribbon {
  background-color: white;
  width: 80%;
  margin: 0 10%;  
  height: auto;
}

/* ||||||||||||||||||||||||||||||||||||| SECTION 1, 3, & 5 - Background Color of Text & Sarnies ||||||||||||||||||||||||||||||||||||| */

.sarnie-container{
  text-align: center; 
  justify-content: center;
  align-items: center;

  /* height: 300px;
  width: auto; */
}

.sarnie-1, .sarnie-2, .sarnie-3, .sarnie-4 {
  height: 300px;
  width: auto;

  padding: 20px;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
}

#sarnie1, #sarnie2, #sarnie3, #sarnie4 {
  max-width: 100%;
  max-height: 100%;
} 

/* ||||||||||||||||||||||||||||||||||||| SECTION 6 - Calculator ||||||||||||||||||||||||||||||||||||| */

.calc {
  width: 60%; 
  /* height: auto; */
  height: 650px;  
  /* padding: 5px; */
  /* justify-content: center; */
  margin:  0 20%;
/* 
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16); */
}

/* ||||||||||||||||||||||||||||||||||||| SECTION 7 - FOOTER ||||||||||||||||||||||||||||||||||||| */

.footer__container {
  color: #000000 !important; 
  background-color:#ffffff !important;

  padding-top:10px!important;
  padding-bottom:10px!important;

  text-align: center;

  /* position: absolute; */
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* ||||||||||||||||||||||||||||||||||||| RESPONSIVE ||||||||||||||||||||||||||||||||||||| */

  
/* |||||||||||||||||| Common Breakpoints |||||||||||||||||| 

320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV 

      /* || mobile || */
      /* @media only screen and (max-width: 360px) { */
      /* @media only screen and (min-width: 361px) and (max-width: 1140px) { 

      } */
      
  /* || desktop || */
  @media (min-width:601px){
    .third {
      width:33.33333%;
    }

    .twothird {
      width:66.66666%;
    }

    .sarnie-quarter {
      width: 23%;
      margin: 0 1%;  
      /* width:24.99999%; */
    }

    .quarter {
      width:24.99999%;
    }

    /* .threequarter {
      width:74.99999%;
    } */

    .half {
      width:49.99999%;
    }

    /* .colunn {

    } */

    /* main {
      width: 80%;
      margin: auto;
      vertical-align: middle;
    } */
  }
