@font-face {
  font-family: 'Sucrose Bold Two';
  src: url('../font/sucrose.woff2') format('woff2');
}

/* || universal selector rule */

* {
  box-sizing: border-box;
  box-sizing: inherit;
}
  
/* html, body {
  height: 300vh; 
} */
  
p {
 /* height: 100vh; */
  font-family: 'Roboto', sans-serif;
  color: dimgray;
}

/* || base style which apply to all layouts */
  
.header__container, .main__container, .footer__container  {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
  
.section {
  width: 100%;
  height: 180px;
  display: flex;
}

.header__container {
  height: 100px;
}

/* || SECTION 1 - MISSION STATMENT 1 || */
.feature-1 {
  background-color: white;
  height: fit-content;
  width: 70%;
}
  
#header {
  margin: 0px 150px 0px 0px;
  font-family: "Sucrose Bold Two";
  text-align: center;
  position: absolute;
  right: 350px;
  top: 95px;
  color: rgb(87, 87, 87);  
  /* height: fit-content;
  block-size: fit-content; */
}

#ms-part-1 {
  width: auto;
  height: auto;
  padding: 30px 30px 0px 30px;
  margin: 350px 0px 0px 40px;
  /* background-color: rgb(201, 201, 201); */
  border-radius: 10px;
  width: fit-content;
  block-size: fit-content;
}

/* || SECTION 2 - MISSION STATEMENT 2 ||  */
.feature-2 {
  background-color: white;
  font-size: 20px;
  /* justify-content: center; */
  align-items: center;
  width: 70%;
}

#ms-part-2 {
  width: auto;
  height: auto;
  padding: 30px;
  margin: 0px 40px 0px 40px;
  background-color: rgb(201, 201, 201);
  border-radius: 10px;
  /* width: fit-content;
  block-size: fit-content; */
  width: auto;
  height: auto;
}

#quote {
  padding-left: 20px;
  margin: 10px 10px 10px 35px;
  width:100%;
  font-family:Arial, Helvetica, sans-serif;
  color: rgb(87, 87, 87); 
  /* text-align: center; */
  /* left: 0; */
}  

.feature-2-2 {
  background-color: white;
  /* justify-content: center; */
  align-items: center;
  width: 70%;
}

#ms-part-2-2 {
  width: auto;
  height: auto;
  padding: 30px;
  margin: 0px 40px 60px 40px;
  background-color: rgb(201, 201, 201);
  border-radius: 10px;
  width: fit-content;
  block-size: fit-content;
  width: auto;
  height: auto;
}

/* || SECTION 3 - VIDEO || */
.feature-3 {
  background-color: white;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
}

iframe {
  width: 100%;
  height: 400px;
}

/* || SECTION 4 - TEXT COLUMNS || */
.feature-4 {
  background-color: white;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin: 30px;
  /* justify-content: space-between; which one? */
}

.column-text {
  width: 500px;
  padding: 50px;
}

/* || SECTION 5 - RIBBON || */
.feature-5 {
  background-color: white;
  justify-content: center;
  margin: 20px;
  padding: 10px;
}

.feature-5 a {
  width: 800px;
}

#ribbon {
  width: 100%;
  height: auto;
}

/* || SECTIONS 6/7/8/9 - SARNIES AND TEXT || */
.feature-6 {
  background-color: rgb(240, 240, 240);
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
}

.feature-6 a {
  width: 200px;
}

#sarnie1 {
  width: 100%;
  height: auto;
}

.feature-7{
  background-color: rgb(221, 221, 221);
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
}

.feature-7 a {
  width: 200px;
}
 
#sarnie2 {
  width: 100%;
  height: auto;
}

.feature-8 {
  background-color: rgb(202, 202, 202);
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
}

.feature-8 a {
  width: 200px;
}

#sarnie3 {
  width: 100%;
  height: auto;
}

.feature-9 {
  background-color: rgb(189, 189, 189);
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
}

#sarnie-description {
  padding: 15px;
  text-align: center;
}

.calc {
  width: 100%; 
  height: auto;
  padding: 50px;
  justify-content: center;
}

/* || SECTION 10 - PARALLAX - is on seperate stylesheet || */

/* || FOOTER || */
.footer {
  background-color: white;
  bottom: 0px;
  justify-content: center;
  align-items: center;
}
  
  /* || mobile || */
  @media only screen and (max-width: 360px) {
    /* body {
        background-color: green;
    } */

    /* #header {
      font-size: 6vw;
    }

    p {
      font-size: 1vw;
    } */
  }
  
  @media only screen and (min-width: 361px) and (max-width: 1140px) {
    /* body {
        background-color: palevioletred;
    }
    .action,
    .feature1,
    .feature2,
    .feature3 {
       width: 50%;
    }
    } */

    h1 {
      font-size: 100px;
    }

    /* p {
      font-size: 1 vw;
    } */
  }
 
  
  /* || desktop || */
  @media only screen and (min-width: 1143px) {
  
    body {
        background-color: white;
        width: 100%;
    }
 
    h1 {
      font-size: 95px;
    }

    h2 {
      /* font-size: 24px; */
      font-size: 10vw, 10vh;
    }

    p {
      font-size: 18px;
    }
    
    .header__container, .main__container, .footer__container {  
        margin: 0 auto;
        width: 100%;
    }
    
    .header__container {
      order: 1;
      height: 200px;
    }

    .feature-1 {
        order: 2;
        height: 250px;
    }
    
    .feature-2 {
        order: 3;
        height: 250px;
    }

    .feature-2-2 {
      order: 3;
      height: 250px;
  }
  
    .feature-3 {
        order: 4;
        height: 400px;
        width: 100%; 
    }

    .feature-4 {
      order: 5;
      height: 100px;
      width: 100%;
  }
  
    .feature-5 {
        order: 6;
        height: 300px;
    }
  
    .feature-6, .feature-7, .feature-8 {
        order: 7;
        width: 20%;
        height: 200px;
    }
  
    .feature-9 {
        order: 7;
        width: 30%;
        height: 200px;
    } 
    
    .feature-10 {
        order: 8;
        height: 700px;  
    } 
  
    .footer {
      order: 9;
      height: 100px;
      bottom: 0px;
    } 
  }
  